body{
    background-color: #261010;
    font-family: Arial, sans-serif;
    color: ;
    background-image: url("https://static.vecteezy.com/system/resources/previews/044/524/347/non_2x/ai-generated-gamer-in-his-room-sketch-generative-ai-photo.jpg");
}


